body{
	background: #1a1a19 !important; 
	font-family: "MuseoRegular",sans-serif;
	font-weight: 300;
}
header{
	background: black;
	padding: 30px 0px 42px 0px;
	position: relative;
z-index: 10;
}
h1 {
font-size: 2.7em;
font-family: 'BebasNeue';
}
.menu > li{
	display: inline-block;
	list-style-type: none;
	padding: 35px 6.5% 0px 0px;
	text-transform: uppercase;

}
.menu > li >a{
	color: white;
	padding: 0 0 2px;
	font-family: 'BebasNeue';
	font-size: 20px;
}
.menu > li > a:hover{
	color: #c62426;
	border-bottom: 2px solid #c62426;
}
div.gradient{
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top, black 0%, rgba(0, 0, 0, 0) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, black), color-stop(100%, rgba(0, 0, 0, 0)));
background: -webkit-linear-gradient(top, black 0%, rgba(0, 0, 0, 0) 100%);
background: -o-linear-gradient(top, black 0%, rgba(0, 0, 0, 0) 100%);
background: -ms-linear-gradient(top, black 0%, rgba(0, 0, 0, 0) 100%);
background: linear-gradient(to bottom, black 0%, rgba(0, 0, 0, 0) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#00000000',GradientType=0 );
 height: 85px;
    position: relative;
    top: 92px;
    width: 100%;
    z-index: 9;
}
.main-content{
	background: white;
	
	
	padding-bottom: 75px;
	

}

h1.main-title{
		color: #c62426;
		text-transform: uppercase;
		padding: 80px 0px 75px 0px;
		text-align: center;
		font-size: 44px;
line-height: 1;
font-weight: 500;
}
div.select{
	width: 250px;
	margin-right: 4%;
	float: left;
}
div.select:last-child{
	margin-right: 0px;
}
.chosen-search > input:focus{
-webkit-box-shadow: 0 0 5px #76B9F0;
-moz-box-shadow: 0 0 5px #76B9F0;
box-shadow: 0 0 5px #76B9F0;
border-color: #76B9F0;
} 
.select p{
	margin-bottom: 15px;
	font-size: 19.96px;
}
.slct-content{
	margin-bottom: 120px !important;
}
.cty-ttl{
	border-bottom: 1px solid black;
padding-bottom: 7px;
}
.cty-ttl div{
	display: inline-block;
}
.std-img{
	margin-right: 20px;
}
.cty{
	margin-top: 25px !important;
}
.cty-ft{
	padding-left: 30px;
}
.m-btm{
	margin-bottom: 50px !important;
}

.ctn-txt{
	position: relative;
top: -8px;
}

.sprites { margin-right: 10px; background-image: url('/images/sprites/cities.png'); background-color: transparent; background-repeat: no-repeat; }

.afr { width: 30px; height: 30px; background-position: 0 0; }
.asia { width: 30px; height: 30px; background-position: 0 -124px; }
.aus { width: 30px; height: 30px; background-position: 0 -155px; }
.canada { width: 30px; height: 30px; background-position: 0 -186px; }
.europe { width: 30px; height: 30px; background-position: 0 -217px; }
.lat { width: 30px; height: 30px; background-position: 0 -248px; }
.rus { width: 30px; height: 30px; background-position: 0 -31px; }
.sout { width: 30px; height: 30px; background-position: 0 -62px; }
.usa { width: 30px; height: 30px; background-position: 0 -93px; }

.sprites-social { background-image: url('/images/sprites/social.png'); background-color: transparent; background-repeat: no-repeat; }
.facebook-f { width: 22px; height: 22px; background-position: 0 0; }
.facebook-h {margin-top:40px; margin-right:3px; width: 8px; height: 13px; background-position: -15px -37px; }
.google-f { width: 22px; height: 22px; background-position: 0 -51px; }
.google-h { width: 12px; height: 13px; background-position: -33px -23px; }
.mail {float:left; margin-right:7px; width: 26px; height: 15px; background-position: 0 -74px; }
.pin { float:left; margin-right:20px; width: 14px; height: 25px; background-position: 0 -23px; }
.playvideo {float:left; margin-right:20px; width: 17px; height: 16px; background-position: -28px -73px; }
.share { float:left; margin-right:20px; width: 21px; height: 16px; background-position: -24px -37px; }
.top {margin: 7px auto; width: 21px; height: 13px; background-position: -24px -54px; }
.twiiter-f { width: 22px; height: 22px; background-position: -23px 0; }
.twiiter-h {margin-top:40px; margin-right:3px; width: 15px; height: 13px; background-position: -15px -23px; }

.top-ctn{
	background: none repeat scroll 0 0 #C62426;
    color: #FFFFFF;
    float: right;
    height: 80px;
    position: absolute;
    right: 20px;
    text-align: center;
    top: 0;
    width: 55px;
    cursor: pointer;
}
.top-ctn:hover{
background: #C6244B;
}
.sprites-empresas { background-image: url('/images/sprites/empresas.png'); background-color: transparent; background-repeat: no-repeat; }
.amazon { width: 195px; height: 74px; background-position: -92px 0; }
.bigcommerce { width: 261px; height: 62px; background-position: -232px -149px; }
.co { width: 91px; height: 81px; background-position: 0 0; }
.coca-cola { width: 220px; height: 72px; background-position: 0 -82px; }
.google { width: 268px; height: 72px; background-position: -225px -76px; }
.microsoft { width: 231px; height: 49px; background-position: 0 -162px; }
.sprint { width: 177px; height: 75px; background-position: -288px 0; }


.sprites-stats { margin:0 auto 44px auto; background-image: url('/images/sprites/stats.png'); background-color: transparent; background-repeat: no-repeat; }
.glbl { width: 180px; height: 180px; background-position: -193px 0; }
.idea { width: 128px; height: 181px; background-position: -374px 0; }
.ideaa {top: 25px;
position: relative; width: 63px; height: 89px; background-position: -503px -92px; }
.price {top: 25px;
position: relative; width: 35px; height: 83px; background-position: -567px -98px; }
.stats {top: 25px;
position: relative; width: 89px; height: 89px; background-position: -523px 0; }
.tools { width: 192px; height: 181px; background-position: 0 0; }


.cntn-menu{
	margin-bottom: -65px !important;
}
.logos-fblk, .logos-sblk   {
	text-align: center;

}
.logos-fblk img {
padding: 40px 9% 50px 0px;
}

.logos-fblk img:last-child, .logos-sblk img:last-child {
padding-right:0px;
}
.logos-sblk img{
padding: 25px 5% 0px 0px;
}
.logos-sblk img:first-child{
	padding-right:9%;
}
h3.subtit-footer{
	font-family:'BebasNeue', sans-serif;
	color:#c62426;
	font-size:18px;
	
	margin-bottom:12px;
	font-weight:100;
}
footer{
	background: black;
	padding-top:70px;
	padding-bottom: 50px;
}
.menu-footer{
	list-style-type:none;
	font-family:'MuseoLight';
	font-size:16px;
	
}
.menu-footer li{
	margin-bottom: 5px;
}
.menu-footer li a:hover, a.mailref:hover{
	color:#c62426;
}
.shared  a  {
display: inline-block;
margin-left: 10px;
}
.shared  a:hover{
	 -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(33%, transparent), to(rgba(255, 255, 255, 0.15)));
}
.shared{
	margin-bottom: 30px;
}
.boton-f {
font-size: 26px;
color: #fff;
background-color: #c62426;
border: 0px;
width: 87px;
height: 43px;
font-weight: 100;
margin-top: 10px;
}
.formtxt{
	color:white;
}
#menu-second{
	background:black;
	height: 1px;
	/* Set our transitions up. */
	-webkit-transition: height 0.8s;
	-moz-transition: height 0.8s;
	transition: height 0.8s;
	overflow: hidden
	
}
.fixed{

	position: fixed;
top:0px;
left:0px;
right:0px;
z-index:999999;
}
.ctm-m >div{
	display:inline-table;
	margin-right: 10%;
}
.ctm-m{
	margin-top:12px;
}
.ctm-m a, a.citref {
	color: white;
}
.ctm-m a:hover, a.citref:hover{
	color:#c62426;
}
.fanc{
width: 136px;
overflow: hidden;
display: block;
}
.fanc p{
	margin:0;
}
@media only screen and (max-width : 1024px) {
	.banner{
		height:400px !important;
	}
.banner p{
	line-height: 1.1;
	font-size: 39px;
}
.banner h2{
	font-size:60px;
}
}
@media only screen and (max-width : 769px) {
	.rdsocial{
		width: 16.66% !important;
	}
.menu > li{
	padding:35px 4% 0px 0px;
}
	.banner{
		height:300px !important;
		margin-top: 45px;
	}
.banner p{
	line-height: 1.1;
	font-size: 24px;
}
.banner h2{
	font-size:32px;
	margin-bottom:10px;
}
.banner .btn{
	padding: 0 15px;
	height:42px;
}
div.gradient{
	height:60px;
}

 }
 @media only screen and (max-width : 600px) {
 	.rdsocial{
 		display: none;
 	}
 	.ctm-m > div{
 		margin-right: 6%;
 	}
	.banner{
		height:250px !important;
		margin-top: 45px;
	}
.banner p {
line-height: 1.1;
font-size: 22px;
width: 80%;
margin-left: 10%;
margin-top:-20px;
}
}
@media only screen and (max-width : 480px) {
	
	.ctm-m > div{
		margin-right: 0px;
	}
	div.gradient {
height: 9px;
}
	.arrows, .menu-second{
		display: none !important;
	}
	.banner{
		height:188px !important;
		margin-top:60px;
	}
.menu > li {
padding: 10px 2% 0px 0px;
}
.banner p{
	margin-top: -30px;
}
.banner h2 {
font-size: 28px;
margin-bottom: 10px;
}
.banner .btn{
	font-size: 20px;
	padding: 0 6px;
height: 32px;
width: 156px;

}
div.gradient {
height: 40px;
}
.banner .dots{
bottom:-21px;
}
header{
	padding: 6px 0px 42px 0px;
}
}
@media only screen and (max-width : 320px) {
.banner p{
	font-size: 17px;
}
}

.rdsocial a{
	display: inline-block;
}

