body{
	background: #1a1a19 !important; 
	font-family: "Museo",sans-serif;
	font-weight: 300;
	letter-spacing: 1px;
}
p{
font-family: "Museo",sans-serif;
	font-weight: 300;
}
header{
	background: black;
	padding: 30px 0px 42px 0px;
	position: relative;
z-index: 10;
}
h1 {
font-size: 2.7em;
font-family: 'BebasNeue';
}
.menu{
	float: left;
	width: 80%;
}
.menu > li{
	display: inline-block;
	list-style-type: none;
	padding: 27px 7.5% 0px 0px;
	text-transform: uppercase;

}
.menu > li:last-child{
	padding-right:0px;
}
.menu > li >a{
	color: white;
	padding: 0 0 2px;
	font-family: 'BebasNeue';
	font-size: 20px;
}
.menu > li > a:hover{
	color: #c62426;
	border-bottom: 2px solid #c62426;
}
.current_active a{
	color: #c62426 !important;
	border-bottom: 2px solid #c62426;
}

.redss {
float: right;
width: 20%;
margin-top: 32px;
}

.redss div {
display: inline-table;
}
div.gradient{
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top, black 0%, rgba(0, 0, 0, 0) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, black), color-stop(100%, rgba(0, 0, 0, 0)));
background: -webkit-linear-gradient(top, black 0%, rgba(0, 0, 0, 0) 100%);
background: -o-linear-gradient(top, black 0%, rgba(0, 0, 0, 0) 100%);
background: -ms-linear-gradient(top, black 0%, rgba(0, 0, 0, 0) 100%);
background: linear-gradient(to bottom, black 0%, rgba(0, 0, 0, 0) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#00000000',GradientType=0 );
 height: 85px;
    position: relative;
    top: 92px;
    width: 100%;
    z-index: 9;
}
div.gradiente{
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top, black 0%, rgba(0, 0, 0, 0) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, black), color-stop(100%, rgba(0, 0, 0, 0)));
background: -webkit-linear-gradient(top, black 0%, rgba(0, 0, 0, 0) 100%);
background: -o-linear-gradient(top, black 0%, rgba(0, 0, 0, 0) 100%);
background: -ms-linear-gradient(top, black 0%, rgba(0, 0, 0, 0) 100%);
background: linear-gradient(to bottom, black 0%, rgba(0, 0, 0, 0) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#00000000',GradientType=0 );
 height: 85px;
    position: relative;
  
    width: 100%;
    z-index: 9;
}
.page-main{
	background: white;
	padding-bottom:75px;
}


h1.main-title{
		color: #c62426;
		text-transform: uppercase;
		padding: 80px 0px 75px 0px;
		text-align: center;
		font-size: 44px;
line-height: 1.13;
font-weight: 500;
}
div.select{
	width: 250px;
	margin-right: 4%;
	float: left;
}
div.select:last-child{
	margin-right: 0px;
}
.chosen-search > input:focus{
-webkit-box-shadow: 0 0 5px #76B9F0;
-moz-box-shadow: 0 0 5px #76B9F0;
box-shadow: 0 0 5px #76B9F0;
border-color: #76B9F0;
} 
.select p{
	margin-bottom: 15px;
	font-size: 19.96px;
}
.slct-content{
	margin-bottom: 120px !important;
}
.cty-ttl{
	border-bottom: 1px solid black;
padding-bottom: 7px;
}
.cty-ttl div{
	display: inline-block;
}
.std-img{
	margin-right: 20px;
}
.cty{
	margin-top: 25px !important;
}
.cty-ft{
	padding-left: 0px;
}
.m-btm{
	margin-bottom: 50px !important;
}

.ctn-txt{
	position: relative;
top: -8px;
}
.capitalize-text{
	text-transform:capitalize;
}
  .title-glbal{
    padding-left: 13px;
margin: 30px 0px -10px 0px;
font-size: 34px; 
  }
  .txt-gbls{
    font-size: 30px;
font-family: 'Museo';
padding-left: 13px;
font-weight: 100;

  }
  .txt-gbls a{
    color: #c62426;
  }
  .txt-gbls a:hover{
    color: #7a0a0b;
  }
  img.img-gbl{
    margin-top: 18px;
  }
  .shw{
display: block !important;
  }
  .hdn{
    display: none !important;
  }
  .hsclshrd{
    display: none;
    margin-bottom: 0px !important;

position: relative;
top: 5px;
margin-top: -7px;
left: 10px;
  }

.sprites { margin-right: 10px; background-image: url('/images/sprites/cities.png'); background-color: transparent; background-repeat: no-repeat; }

.afr { width: 30px; height: 30px; background-position: 0 0; }
.asia { width: 30px; height: 30px; background-position: 0 -124px; }
.aus { width: 30px; height: 30px; background-position: 0 -155px; }
.canada { width: 30px; height: 30px; background-position: 0 -186px; }
.europe { width: 30px; height: 30px; background-position: 0 -217px; }
.lat { width: 30px; height: 30px; background-position: 0 -248px; }
.rus { width: 30px; height: 30px; background-position: 0 -31px; }
.sout { width: 30px; height: 30px; background-position: 0 -62px; }
.usa { width: 30px; height: 30px; background-position: 0 -93px; }

.sprites-social { background-image: url('/images/sprites/social.png'); background-color: transparent; background-repeat: no-repeat; }
.facebook-f { width: 22px; height: 22px; background-position: 0 0; }
.facebook-h {margin-right:22px; width: 8px; height: 13px; background-position: -15px -37px; }
.google-f { width: 22px; height: 22px; background-position: 0 -51px; }
.google-h { width: 12px; height: 13px; background-position: -33px -23px; }
.mail {float:left; margin-right:7px; width: 26px; height: 15px; background-position: 0 -74px; }
.pin { float:left; margin-right:20px; width: 14px; height: 25px; background-position: 0 -23px; }
.playvideo {float:left; margin-right:20px; width: 17px; height: 16px; background-position: -28px -73px; }
.share { float:left; margin-right:20px; width: 21px; height: 16px; background-position: -24px -37px; }
.top {margin: 7px auto; width: 21px; height: 13px; background-position: -24px -54px; }
.twiiter-f { width: 22px; height: 22px; background-position: -23px 0; }
.twiiter-h { margin-right:22px; width: 15px; height: 13px; background-position: -15px -23px; }

.top-ctn{
	background: none repeat scroll 0 0 #C62426;
color: #FFFFFF;
float: right;
height: 80px;
position: relative; 
right: 20px;
text-align: center;
top: -37px;
width: 55px;
cursor: pointer;
}
.top-ctn:hover{
background: #7a0a0b;
}
.sprites-empresas { background-image: url('/images/sprites/empresas.png'); background-color: transparent; background-repeat: no-repeat; }
.amazon { width: 195px; height: 74px; background-position: -92px 0; }
.bigcommerce { width: 261px; height: 62px; background-position: -232px -149px; }
.co { width: 91px; height: 81px; background-position: 0 0; }
.coca-cola { width: 220px; height: 72px; background-position: 0 -82px; }
.google { width: 268px; height: 72px; background-position: -225px -76px; }
.microsoft { width: 231px; height: 49px; background-position: 0 -162px; }
.sprint { width: 177px; height: 75px; background-position: -288px 0; }


.sprites-stats { margin:0 auto 44px auto; background-image: url('/images/sprites/stats.png'); background-color: transparent; background-repeat: no-repeat; }
.glbl { width: 180px; height: 180px; background-position: -193px 0; }
.idea { width: 128px; height: 181px; background-position: -374px 0; }
.ideaa {top: 25px;
position: relative; width: 63px; height: 89px; background-position: -503px -92px; }
.price {top: 25px;
position: relative; width: 35px; height: 83px; background-position: -567px -98px; }
.stats {top: 25px;
position: relative; width: 89px; height: 89px; background-position: -523px 0; }
.tools { width: 192px; height: 181px; background-position: 0 0; }


.cntn-menu{
	margin-bottom: -65px !important;
}
.logos-fblk, .logos-sblk   {
	text-align: center;

}
.logos-fblk img {
padding: 40px 9% 50px 0px;
}

.logos-fblk img:last-child, .logos-sblk img:last-child {
padding-right:0px;
}
.logos-sblk img{
padding: 25px 5% 0px 0px;
}
.logos-sblk img:first-child{
	padding-right:9%;
}
h3.subtit-footer{
	font-family:'BebasNeue', sans-serif;
	color:#c62426;
	font-size:18px;
	
	margin-bottom:12px;
	font-weight:100;
}
footer{
	background: black;
	padding-top:70px;
	padding-bottom: 50px;
}
.menu-footer{
	list-style-type:none;
	font-family:'Museo';
	font-weight: 100;
	font-size:16px;
	
}
.menu-footer li{
	margin-bottom: 5px;
}
.menu-footer li a:hover, a.mailref:hover, .ctn-spons a{
	color:#c62426;
}

.shared  a  {
display: inline-block;
margin-right: 20px;
}
.shared  a:hover{
	 -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(33%, transparent), to(rgba(255, 255, 255, 0.15)));
}
.shared{
	margin-bottom: 30px;
}
.boton-f {
font-size: 26px;
color: #fff;
background-color: #c62426;
border: 0px;
width: 87px;
height: 43px;
font-weight: 100;
margin-top: 10px;
}
.formtxt{
	color:white;
}
#menu-second{
	background:black;
	height: 50px;
	/* Set our transitions up. */
	-webkit-transition: height 0.8s;
	-moz-transition: height 0.8s;
	transition: height 0.8s;
	overflow: hidden
	
}
.fixed{
position: fixed;
top:0px;
left:0px;
right:0px;
z-index:999999;
}
.ctm-m >div{
	display:inline-table;
	margin-right: 10%;
}
.ctm-m > div:last-child{
	margin-right: 0px;
}
.ctm-m{
	margin-top:12px;
}
.ctm-m a, a.citref {
	color: white;
}
.ctm-m a:hover, a.citref:hover{
	color:#c62426;
}
.fanc{
width: 136px;
overflow: hidden;
display: block;
}
.fanc p{
	margin:0;
}
.page{

margin: -51px auto;
background: white;
position: relative;
z-index: 9;
padding-bottom: 75px;
max-width:1300px;
}
.rdsocial a{
	display: inline-block;
}
.row{
	 max-width: 1180px !important ;
}
[class*="column"] + [class*="column"]:last-child{
	float:left !important;
}
h3.sponsors{
	font-family:'BebasNeue';
	font-size: 24px;
	font-weight:100;
}
hr.divs{
	
margin: 65px 0;
width: 100%;

}
.ctn-spons a:hover {
	color: #7a0a0b;
}
.cntr{
	text-align:center;
}
.rght
{
	text-align: right;
}
.fblkspons{
padding-top: 75px;	
text-align: center;
}

.fblkspons img{
	padding-bottom: 60px !important;

}
.mtim{
	margin-top:75px;
}
.mtiml{
	margin-top:58px;
}
.sticky{
    color: #FFFFFF;
float: right;
position: absolute;
right: 0px;
text-align: center;
margin-top: 200px;
width: 55px;
cursor: pointer;
background: #3d3d3d;
font-size: 12px;
z-index: 999;

transition:margin-top 1.5s;
-webkit-transition:margin-top 1.5s;
-moz-transition:margin-top 1.5s;
-o-transition:margin-top 1.5s;
 -ms-transition:margin-top 1.5s;
  }

  .frststicky{
    padding-bottom: 8px; width: 55px; height:55px; overflow:hidden; padding-top:5px;

  }
  .scndsticky{
    background: #2d2d2d; padding-bottom: 8px; width: 55px; height:55px;
  }
    .frststicky:hover, .scndsticky:hover{
   background: #c62426;
  }


.cty-url{
	color: #222222;
}

.cty-url:hover{
	color: #c62426;

}

.center{
	text-align: center;
}
.slctdate{
	width: 125px !important;
}
.idate{
	height: 40px !important;
	color: #c62426 !important;
}

.primary-title{
	color: #c62426;
text-transform: uppercase;
padding: 5px 0px 10px 0px;
text-align: center;
font-size: 44px;
line-height: 1;
font-weight: 500;
margin: 0px !important;
}
	.secondary-title{
		font-family: 'BebasNeue';
		text-align: center;
		font-weight: 100;
	}
	.sprites-circle {margin: 0 10%; background-image: url('/images/sprites/circle-sprite.png'); background-color: transparent; background-repeat: no-repeat; }
.champion-circle {margin: 0 auto; width: 167px; height: 115px; background-position: 0 -404px; }
.cloud-circle {margin: 0 auto; width: 171px; height: 99px; background-position: 0 -520px; }
.commerce-circle {margin: 0 auto; width: 180px; height: 95px; background-position: -404px -127px; }
.domain-circle { margin: 0 auto;width: 177px; height: 115px; background-position: -202px -305px; }
.enter-circle:hover { width: 201px; height: 201px; background-position: 0 0; }
.enter-circle { width: 201px; height: 201px; background-position: 0 -202px; }
.pin-enter:hover { width: 201px; height: 201px; background-position: -172px -421px; }
.pin-enter { width: 201px; height: 201px; background-position: -374px -425px; }
.platform-circle {margin: 0 auto; width: 186px; height: 102px; background-position: -202px -202px; }
.social:hover {  width: 201px; height: 201px; background-position: -389px -223px; }
.social {   width: 201px; height: 201px; background-position: -202px 0; }
.woman-circle {margin: 0 auto; width: 86px; height: 126px; background-position: -404px 0; }

.social-icons { background-image: url('/images/sprites/socialicons.png'); background-color: transparent; background-repeat: no-repeat; }
.fcbk-blk { width: 6px; height: 13px; background-position: -32px 0; }
.fcbk:hover { width: 6px; height: 13px; background-position: -39px 0; }
.fcbk {margin-right:22px; width: 6px; height: 13px; background-position: -46px 0; }
.ggl-blk { width: 12px; height: 13px; background-position: -14px -14px; }
.ggl:hover { width: 12px; height: 13px; background-position: -27px -14px; }
.ggl { width: 12px; height: 13px; background-position: -40px -14px; }
.twtr-blk { width: 13px; height: 10px; background-position: 0 -17px; }
.twtr:hover { width: 15px; height: 13px; background-position: 0 0; }
.twtr {margin-right:22px; width: 15px; height: 13px; background-position: -16px 0; }
		.roundersocial{
				background: white;
height: 22px;
width: 22px;
border-radius: 50%;
			}
			.roundersocial:hover{
				background: #7a0a0b;

			}
			.twtr-blk{
				margin: 0 auto;
				position: relative;
top: 6px;
			}
			.fcbk-blk, .ggl-blk{
				margin: 0 auto;
position: relative;
top: 4px;
			}

.customgrd{
	width: 23.3333333%;
	margin: 25px 5%;
	float: left;
}
.step{
	font-size: 72px;
font-family: 'BebasNeue';
color: #c62426;
margin: 20px 10px;
float: left;
}
.title-step{
	font-family: 'BebasNeue';
font-size: 24px;
position: relative;
top: 31px;
}
.description{
	clear: both;
}
.divisor{
	position: relative;
top: -50px;
}
.divisor hr{
border: solid black;
border-width: 1px 0 0;
}
.subt-circle{
	font-family: 'BebasNeue';
	font-weight: 100;
	text-align: center;

}
.m-inf{
display: block;
text-align: center;
padding-top: 7px;
width: 100%;
}
a.m-inf:hover{
color: white;
}
.icn-cnt{
	min-height: 126px;
}
.page-circle{
	margin: -51px auto;
background: white;
position: relative;
z-index: 9;

max-width: 1300px;
}
.circles-contnt{
	padding-bottom: 70px;
}
.custmtop{
	margin-top: 80px;
}
.sbmenu{
	list-style: none;
	margin-top: 45px;
margin-left: 70px;
margin-bottom: 0px;
}
.sbmenu li{
display: inline-block;
width: 100px;
text-align: center;
margin-right: 60px;
line-height:20px;
font-size:14px;

}
.sbmenu li a {
color: black;
font-weight: 500;
}
.sbmenu li a.active{
color: #c62426;
}
a.active{
color: #c62426;
}
.sbmenu li a:hover{
color: #c62426;
}
.special-limenu{
	width:200px !important;
}
.rdsor{
	border: solid #c62426;
border-width: 5px 0 0;
width: 100%;
margin: 0;
margin-bottom: 55px;

}
.triangulo_sup {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #c62426;
    margin: 0 auto;
    margin-top: 15px;
}	
.mpddg{
	margin-bottom: 75px !important;

}
@media only screen and (max-width : 1299px) {
	.page{
		width: 98%;
	}

}
@media only screen and (max-width : 1024px) {
	.banner{
		height:400px !important;
	}
.banner p{
	line-height: 1.1;
	font-size: 39px;
}
.banner h2{
	font-size:60px;
}
}
@media only screen and (max-width : 801px) {
	.sbmenu li{margin-right: 25px;}
.customgrd {
width: 31.333333% !important;
margin: 25px 1% !important;
}
}
@media only screen and (max-width : 769px) {
	div.select, .chosen-container {
width: 215px !important;

}
.slct-content{
padding:0 10px;
}
	.rdsocial{
		width: 16.66% !important;
	}
.menu > li{
	padding:35px 4% 0px 0px;
}
	.banner{
		height:300px !important;
		margin-top: 45px;
	}
.banner p{
	line-height: 1.1;
	font-size: 24px;
}
.banner h2{
	font-size:32px;
	margin-bottom:10px;
}
.banner .btn{
	padding: 0 15px;
	height:42px;
}
div.gradient{
	height:60px;
}

 }
@media only screen and (max-width : 620px) {
.customgrd {
width: 40% !important;
margin: 25px 30% !important;
float: inherit;

}
.sbmenu{
	margin-left:0px; 
}
.sbmenu li{margin-right: 5px;}
}
 @media only screen and (max-width : 600px) {
 	.sticky, .frststicky, .scndsticky{
 		display: none !important;
 	}
 	.rght{
 		text-align: center !important;
 	}
 	.cntr img, .rght img{
		margin-bottom: 35px;
		
 	}
 	.top-ctn{
 		right: 0px;
 	}
 	.logos-sblk img{
 		padding-bottom: 50px;
 	}
 	h2.subtitle{
 		font-size: 28px;
 	}
 	.redss{
 		margin-top: 17px;
 		width: 50%;
 	}
 	.redss a{
 		margin-right: 15px;
 	}
 	div.select, .chosen-container {
width: 162px !important;
}
 	.rdsocial, .menu{
 		display: none;
 	}
 	.ctm-m > div{
 		margin-right: 6%;
 	}
	.banner{
		height:250px !important;
		margin-top: 45px;
	}
.banner p {
line-height: 1.1;
font-size: 27px;
width: 80%;
margin-left: 10%;
margin-top:-20px;
}
}

@media only screen and (max-width : 480px) {
	.fblkspons {
padding-top: 40px;
text-align: center;
}
.mtim {
margin-top: 0px;
}
.mtiml {
margin-top: 46px;
}
	.redss{
 		 		width: 65%;
 	}
	h1.main-title {
    
    font-size: 33px;
    padding: 31px 0 27px;
  }
	 	div.select, .chosen-container {
margin: 0 auto;
    width: 90% !important;
    float: inherit;

}
div.select:last-child{
	margin-right: auto;
}
	.slct-content {
    margin-bottom: 55px !important;
}
	.ctm-m > div{
		margin-right: 0px;
	}
	div.gradient {
height: 9px;
}
	.arrows, .menu-second{
		display: none !important;
	}
	.banner{
		height:320px !important;
		margin-top:60px;
	}
.menu > li {
padding: 10px 2% 0px 0px;
}
.banner p{
	margin-top: -30px;
}
.banner h2 {
font-size: 47px;
margin-bottom: 10px;
}
.banner .btn{
	font-size: 20px;
	padding: 0 6px;
height: 32px;
width: 156px;

}
div.gradient {
height: 40px;
}
.banner .dots{
bottom:-21px;
}
header{
	padding: 6px 0px 42px 0px;
}
.ctm-m > div {
    font-size: 13px;
    }

.sbmenu li {
width: 75px;
}
.sbmenu li a {
font-size: 13px;
}

}
@media only screen and (max-width : 320px) {
	.redss{
 		 		width: 100%;
 	}
	   .top-ctn{
    	display: none;
    }
	.ctm-m > div {
    font-size: 11px;
    }
.banner p{
	font-size: 27px;
}
.fanc{
	width:90px;
}
.pin , .playvideo, .share{
	margin-right: 7px;
}

.triangulo_sup{
	display: none;
}
.customgrd {
width: 72% !important;
margin: 25px 14% !important;
float: inherit;

}
.sbmenu li {

margin: 5px;
}

}
a.redref:hover{
    color: #7a0a0b;
  }

.yellow{
	color:#FFDD00 !important;
}
img.sprint-chat{
	position: relative;
top: -6px;
margin-left: 4px;
}
.sharedsticky{
	display: none;
}
	.sharedsticky a {
margin: 3px 0 0 0;
display: inline-block;

}
$red: #C62426;
$gray: #CFCFCF;
$black: #000;
$blue: #0e76bc;
$white: #FFF;

.main-title{
	&.contact{
		line-height: inherit;
		margin: 0;
		padding: 0;
		text-align: left;
		margin: 0 0 10px;
		font-size: 60px;
	}
	&.intel{
		text-align: left;
		font-size: 45px;
		margin: 0 0 50px;
		padding: 0;
	}
	&.prizes{
		font-size: 70px;
		padding: 0;
		margin: 0;
		color: $black;
	}
}

.sub-title{
	font-family: 'BebasNeue';
    font-size: 35px;
    font-weight: lighter;
    letter-spacing: 4px;
	.right-title{
		margin: 0 0 30px;
	}
}

.subtitle{
	&.prizes{
			font-size: 22px;
			text-transform: uppercase;
			margin: 0 0 60px;
			padding: 0;
			text-align: center;
			color: $black;
			span{
				color: $blue;
			}
		}
}

.height-top{
	height: 90px;
}

.contact-description,.contact-success,.intel-description{
	margin: 0 0 60px;
	font-size: 15px;
	line-height: 25px;
	span{
		color: $red;
	}
}

.contact-success{
	margin: 0 0 20px;
}

.intel-description{
	margin: 0;
	padding: 10px 40px;
	display: none;
	line-height: 20px;
}

#form-contact{
	label{
		display: block;
		margin: 0 0 10px;
		font-family:'BebasNeue';
		font-size: 20px;
		
		&.error{
			margin: 10px 0 0 !important;
			display: block;
		}
	}
	input,textarea{
		&.input-contact{
			height: 30px;
			max-width: 285px;
			display: block;
		}
		background-color: #F5F5F1;
		padding: 5px;
		box-shadow: none !important;
		border: none;
	}

	textarea{
		height: 230px;
		resize: none;
		max-width: 680px;
	}
}

.section-form{
	margin: 0 0 40px;
	label{
		span{
			color: $red;
		}
	}
}

.button-contact{
	width: 170px;
	height: 50px;
	line-height: 50px;
	color: #FFF;
	font-family:'BebasNeue';
	margin: 0 0 50px;
	background-color: $red !important;
	font-size: 24px;
	letter-spacing: 1px;
}

.email{
	min-height: 170px;
	padding: 10px 0 0 50px;
	a{
		color: $black;
		font-size: 15px;
	}
}

.line-gray{
	background-color: $gray;
	height: 630px;
	width: 1px;
	position: absolute;
	left: 0;
	&.intel{
		height: 90%;
	}
}

.on-web{
	padding: 10px 0 0 50px;
	a{
		display: block;
		margin: 0 0 30px;
		color: $black;
		font-size: 15px;
	}
}

.social-red{
	background-image: url("/images/sprites/social-red.png");
	background-repeat: no-repeat;
	height: 13px;
	display: inline-block;
	vertical-align: middle;
	margin: 0 10px 0 0;
	&.twitter{
		width: 15px;
		background-position: 0 0;
	}
	&.facebook{
		width: 6px;
		background-position: -15px 0;
	}
	&.gplus{
		width: 12px;
		background-position: -21px 0;
	}
	&.mail-red{
		width: 26px;
		height: 11px;
		background-position: -33px 0;
	}
}

.contain-img-red{
	display: inline-block;
	width: 20px;
}


/* Intel */

.red-square{
	background-color: $red;
	height: 25px;
	width: 25px;
	border-radius: 5px;
	display: inline-block;
	text-align: center;
	line-height: 24px;
	font-size: 15px;
	color: #FFF;
	font-weight: bold;
	cursor: pointer;
}

.red-square:hover {
background: #7a0a0b;
}

.height-top-intel{
	height: 45px;
}

.height-top-prizes{
	height: 90px;
}

.question-text{
	display: inline-block;
	font-family:'BebasNeue';
	vertical-align: bottom;
	font-size: 20px;
	margin: 0 0 0 10px;
	vertical-align: bottom;
}

.question{
	margin: 0 0 40px;
}

.title-intel{
	font-size: 35px;
	margin: 0 0 20px;
	font-family: 'BebasNeue';
	font-weight: lighter;
	letter-spacing: 2px;
}

.content-links{
	padding: 0 10px 0 50px;
}

.list-intel{
	margin: 0 0 30px;
	li{
		list-style-type: none;
		font-size: 15px;
		margin: 0 0 10px;
		a{
			color: $black;
		}
	}
}

.not-find{
	margin: 10px 0 0;
	text-transform: uppercase;
	font-family: 'BebasNeue';
	font-size: 21px;

	a{
		color: $red;
	}
	p{
		font-family: 'BebasNeue';
	}
}

.medal{
	height: 55px;
	position: relative;
	width: 343px;
	margin: 0 auto;
}

.medal-center{
	position: absolute;
	top: 12px;
	height: 45px;
	width: 250px;
	margin: 0 0 0 39px;
	line-height: 40px;
	background-color: $blue;
	font-size: 20px;
	text-align: center;
	color: $white;
	border: 5px solid #FFF;
	z-index: 2;
}

.medal-left:before{
	content: " ";
	border-color: transparent transparent transparent #FFF;
	border-width: 20px 15px;
	border-style: solid;
	position: absolute;
	left: 0;
	-moz-transform: scale(1.02);
}

.medal-left,.medal-right{
	width: 84px;
	height: 40px;
	background-color: $blue;
}

.medal-right{
	position: absolute;
	top: 0;
	right: 0;
}

.medal-right:after{
	content: " ";
	border-color: transparent #FFF transparent transparent;
	border-width: 20px 15px;
	border-style: solid;
	position: absolute;
	right: 0;
	-moz-transform: scale(1.02);
}

.description-text{
	line-height: 22px;
	font-size: 15px;
	text-align: center;
	margin: 0 0 125px;
}

.prize-text{
	line-height: 22px;
	font-size: 15px;
	margin: 0 0 35px;
}

.prize-title{
	font-size: 30px;
	font-family: 'BebasNeue';
	margin: 30px 0;
	font-weight: lighter;
}

.img-prz{
	margin: 0 auto;
	display: block;
}

.margin-section-prize{
	margin-top: 50px;
}

.section-img{
	padding: 0 10px;
}

.title-bottom-prize{
	font-family: 'BebasNeue';
	font-size: 40px;
	text-align: center;
	margin: 50px 0 10px;
	span{
		color: $red;
	}
}

@media only screen and (max-width : 1024px) {
	.email,.content-links,.on-web{
		padding: 0;
	}

	.section-img{
		text-align: center;
	}

	.height-top-prizes{
		height: 30px;
	}

	.subtitle{
		&.prizes{
			margin: 0 0 20px;
		}
	}

	.description-text{
		margin: 0 0 30px 0;
	}

	.title-bottom-prize{
		margin: 0;
	}
}
.bebas-main{
	font-size: 48px;
	text-transform: uppercase;
	
	margin-bottom: -13px;
}

.bebas-sub{
	font-size: 22px;
	text-transform: uppercase;
	margin: 0 0 45px;
}

.bebas-description{
font-size: 15px;
line-height: 22px;
margin: 0 0 10px;
height: 230px;
overflow: inherit;
}

.margin-section-bottom{
	margin-bottom: 80px !important;
}

.sprites-circles-prizes{
	margin: 0 auto;
}

.bebas-prize-title{
	font-size: 30px;
	font-weight: bold;
	margin: 0 0 35px;
}

.bebeas-prize-description{
	font-size: 22px;
}
.cntnicn{
	min-height: 125px;
	margin-bottom: 35px;
	position: relative;
}
.przshr{
border: solid black;
border-width: 1px 0 0;
width: 100%;
margin: 10px 0 40px;
}
span.twnty{
	font-size: 20px;
}
.mpddging{
	padding-bottom: 75px;
}
.tpddging{
	padding-top: 75px;
}
h2.frtsz{
	font-size: 45px;
	font-weight: 100;
}
	.judges img{
		border-radius: 50%;
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
		-o-border-radius: 50%;

	}
	.judges h3{
		margin-top: 20px;
		margin-bottom: 0px;
		font-weight: 100;
	}
	.judges a{
		color: #c62426;
	}
	.judges a:hover{
		color: #7a0a0b;
	}


	ul.tabs { 
		margin-top: 75px;
		margin: 0; 
		padding: 0; 
		float: left; 
		list-style: none; 
		
		width: 100%; 
	} 
	ul.tabs li { 
		text-align: center;
		float: left; 
		margin: 0; 
		padding: 0; 
		height: 50px; 
		line-height: 31px; 
		margin-bottom: -1px; 
		overflow: hidden; 
		position: relative; 
		background: #eee; 
		width: 32%;
		margin: 0 0.5%;
	}
	 ul.tabs li a { text-decoration: none; 
	 	color: #a7a7a7; 
	 	display: block; 
	 	font-size: 1.2em; 
	 	padding: 10px 20px;
	 	 
	 	  outline: none; } 
	 ul.tabs li a:hover { background: #1a1a1a; color:white; } 
	 html ul.tabs li.active, html ul.tabs li.active a { color: white !important;
	  background: #1a1a1a; }
.tab_container {
	height: 500px;
	overflow-y: auto;
 
 clear: both; 
 float: left;
  width: 100%; 
  background: #fff; } 
  .tab_content { 
  	margin: 40px 13%; 
  	font-size: 16px; }
  	.tab_content ul{
  		font-size: 16px;
margin-left: 20px;
  	}
  	.tab_content ul li{
padding-bottom: 15px;
}
.lst-style{
	list-style-type: none;
}
