<div class="bg-lgray">
<div class="row">
<div class=" medium-12 large-12 columns">
<div class="row">
<div class="large-offset-2 large-8  medium-offset-1  medium-10 small-12 columns txt-title">

 {% editable_text subtitle %}
<h2 class=" size-60">The Battle at a Glance</h2>
{% endeditable_text %}

</div>
</div>
<div class="row">
<div class="large-4 medium-4 small-12 columns">
<div class='center circle'>	
<div class=" sprites-stats  price"></div>
</div>
<div class='center '>
<p class="bebas size-35 sbtxtt">
IN PRIZES
</p>
</div>
<div>
<p class=' txtss'>
500K
</p>
</div>
</div>
<div class="large-4 medium-4 small-12 columns">
<div class ='center circle'>
<div class=" sprites-stats  ideaa"></div>
</div>
<div class ='center'>
<p class="bebas size-35 sbtxtt">
PARTICIPANTS
</p>
</div>
<div>
<p class='txtss'>
20K
</p>
</div>
</div>
<div class="large-4 medium-4 small-12 columns">
<div class='center circle'>

<div class=" sprites-stats  stats"></div>

</div>
<div class='center'>
<p class="bebas size-35 sbtxtt">
CITIES
</p>
</div>
<div>
<p class='txtss'>
120</p>
</div>
</div>
</div>
</div>
</div>
</div>