<div class="img-ue">
	<div class="center space-60 cnt-evtn">
		<div class="row">
			<div class="large-12 medium-12 small-12 columns withe">
				<div class='bebas mayus bold size-60'>
					upcoming events
				</div>
				<hr>
			</div>
		</div> 
		<div class="row">
			<div class="large-12 medium-12 small-12 columns space">
				<div class='row'>
					<div class="large-3 medium-3 small-12 columns withe museo size-20">
						<span>11/16/2013</span>
					</div>
					<div class="large-3 medium-3 small-12 columns withe museo size-20">
						<span>Seattle, WA</span>
					</div>
					<div class="large-3 medium-3 small-12 columns withe museo size-20">
						<span>United States</span>
					</div>
					<div class="large-3 medium-3 small-12 columns withe museo size-20">
						<input type="submit" value="ATTEND" class="boton bebas">
					</div>
				</div>
				<div class='row'>
					<div class="large-3 medium-3 small-12 columns withe museo size-20">
						<span>11/16/2013</span>
					</div>
					<div class="large-3 medium-3 small-12 columns withe museo size-20">
						<span>Tokyo</span>
					</div>
					<div class="large-3 medium-3 small-12 columns withe museo size-20">
						<span>Japan</span>
					</div>
					<div class="large-3 medium-3 small-12 columns withe museo size-20">
						<input type="submit" value="ATTEND" class="boton bebas">
					</div>
				</div>
				<div class='row'>
					<div class="large-3 medium-3 small-12 columns withe museo size-20">
						<span>11/16/2013</span>
					</div>
					<div class="large-3 medium-3 small-12 columns withe museo size-20">
						<span>London</span>
					</div>
					<div class="large-3 medium-3 small-12 columns withe museo size-20">
						<span>UK</span>
					</div>
					<div class="large-3 medium-3 small-12 columns withe museo size-20">
						<input type="submit" value="ATTEND" class="boton bebas">
					</div>
				</div>
				<div class='row'>
					<div class="large-3 medium-3 small-12 columns withe museo size-20">
						<span>11/16/2013</span>
					</div>
					<div class="large-3 medium-3 small-12 columns withe museo size-20">
						<span>Mexico City</span>
					</div>
					<div class="large-3 medium-3 small-12 columns withe museo size-20">
						<span>Mexico</span>
					</div>
					<div class="large-3 medium-3 small-12 columns withe museo size-20">
						<input type="submit" value="ATTEND" class="boton bebas">
					</div>
				</div>
				<div class='row'>
					<div class="large-3 medium-3 small-12 columns withe museo size-20">
						<span>11/16/2013</span>
					</div>
					<div class="large-3 medium-3 small-12 columns withe museo size-20">
						<span>New York, NY</span>
					</div>
					<div class="large-3 medium-3 small-12 columns withe museo size-20">
						<span>United States</span>
					</div>
					<div class="large-3 medium-3 small-12 columns withe museo size-20">
						<input type="submit" value="ATTEND" class="boton bebas">
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="large-12 medium-12 small-12 columns withe">
				<hr>
				<div class='bebas mayus bold size-28'>
					<a class="citref" href="/cities">see more events</a>
				</div>
			</div>
		</div>
	</div>
</div> 