<header>
	<div class="row cntn-menu">
		<div class="large-3 small-3 medium-3 columns"><a href="/"><img src="{{ 'logo.png' | theme_image_url }}" alt="StartUp Battle" /></div></a>
		<div class="large-offset-1  large-7 small-9 medium-7 medium-ofsset-0 columns">
			<ul class="menu">
				<li class="item-1"><a href="/cities">Cities</a></li>
				<li class="item-2"><a href="">Enter</a></li>
				<li class="item-3"><a href="">Prizes</a></li>
				<li class="item-4"><a href="">Partners</a></li>
				<li class="item-5"><a href="">Intel</a></li>
				<li class="item-6"><a href="">Contact</a></li>
			</ul>
		</div>
		<div class="large-2 small-3 columns">	

		</div>
	</div>
</header>
<div class="gradient">	</div>
<section class="main-content ">