<header>
	<div class="row cntn-menu">
		<div class="large-3 small-5 medium-3 columns"><a href="/"><img src="{{ 'logo.png' | theme_image_url }}" alt="StartUp Battle" /></a></div>
		<div class="large-offset-0  large-9 small-7 medium-ofsset-0 medium-9  columns">

			<ul class="menu">
			{% nav site, no_wrapper: true,  id: 'main-nav', class: 'menu', active_class: 'current_active', foundation : true %}
			</ul>
			<div class="redss" >
				<a href="https://twitter.com/startupbattle" target="_blank"><div class="twtr social-icons"></div></a>
			<a href="http://www.facebook.com/StartupBattle?ref=hl" target="_blank"><div class="fcbk social-icons"></div></a>
			<a href="https://plus.google.com/103261302861931394322" target="_blank"><div class="ggl social-icons"></div></a>
			</div>
		</div>

	</div>
	
</header>

<section class="main-content">