<div class="sticky">
	    <div class="frststicky" >
	        <div class="sprites-social top"></div>
	        TOP
	    </div>
	        <div class="scndsticky">
	        <div class="ctnrstyc">
	        <div class="sprites-social share" style="margin: 8px 30% !important;" ></div>
	        SHARE
	        </div>
			<div class="sharedsticky">
	        <script type="text/javascript">
				document.write('<a href="https://twitter.com/share?url='+document.URL+'" target="_blank" onClick="window.open(this.href, this.target,'+" 'width=500,height=510'); return false;"+'">');
			</script>

			<div class="roundersocial">
			<div class="social-icons twtr-blk"></div>
			</div>
			</a>
			
			<script type="text/javascript">
				document.write('<a href="https://www.facebook.com/sharer/sharer.php?u='+document.URL+'" target="_blank" onClick="window.open(this.href, this.target,'+" 'width=500,height=300'); return false;"+'">');
			</script>
				<div class="roundersocial">
			<div class="social-icons fcbk-blk"></div>
			</div>
			</a>
			<script type="text/javascript">
				document.write('<a href="https://plus.google.com/share?url='+document.URL+'" target="_blank" onClick="window.open(this.href, this.target,'+" 'width=500,height=510'); return false;"+'">');
			</script>
			
<div class="roundersocial">
			<div class="social-icons ggl-blk"></div>
			</div>
			</a>

</div>

	        </div>
	  </div>