@font-face
{
font-family: "MuseoLight" ;
src: url('MuseoSans-100.otf')
}
@font-face
{
font-family: "MuseoRegular" ;
src: url('MuseoSans-300.otf')
}
@font-face
{
font-family: "MuseoBold" ;
src: url('MuseoSans_700.otf')
}
@font-face
{
font-family: "BebasNeue" ;
src: url('BebasNeue.otf')
}