@font-face { 
	font-family: 'MuseoLight'; 
	src: url('museo/MuseoSans-100.eot'); 
	src: url('museo/MuseoSans-100.eot?#iefix') format('embedded-opentype'), 
	url('museo/MuseoSans-100.woff') format('woff'), 
	url('museo/MuseoSans-100.ttf') format('truetype'), 
	url('museo/MuseoSans-100.svg#MuseoSans-100') format('svg'); 
	font-weight: normal; 
	font-style: normal; 
}
@font-face { 
	font-family: 'MuseoRegular'; 
	src: url('museo/MuseoSans-300.eot'); 
	src: url('museo/MuseoSans-300.eot?#iefix') format('embedded-opentype'), 
	url('museo/MuseoSans-300.woff') format('woff'), 
	url('museo/MuseoSans-300.ttf') format('truetype'), 
	url('museo/MuseoSans-300.svg#MuseoSans-100') format('svg'); 
	font-weight: normal; 
	font-style: normal; 
}
@font-face { 
	font-family: 'MuseoBold'; 
	src: url('museo/MuseoSans_700.eot'); 
	src: url('museo/MuseoSans_700.eot?#iefix') format('embedded-opentype'), 
	url('museo/MuseoSans_700.woff') format('woff'), 
	url('museo/MuseoSans_700.ttf') format('truetype'), 
	url('museo/MuseoSans_700.svg#MuseoSans-700') format('svg'); 
	font-weight: normal; 
	font-style: normal; 
}
@font-face { 
	font-family: 'BebasNeue'; 
	src: url('bn/BebasNeue.eot'); 
	src: url('bn/BebasNeue.eot?#iefix') format('embedded-opentype'), 
	url('bn/BebasNeue.woff') format('woff'), 
	url('bn/BebasNeue.ttf') format('truetype'), 
	url('bn/BebasNeue.svg#BebasNeue') format('svg'); 
	font-weight: normal; 
	font-style: normal; 
}






/*
@font-face
{
font-family: "MuseoLight" ;
src: url('MuseoSans-100.otf')
}
@font-face
{
font-family: "MuseoRegular" ;
src: url('MuseoSans-300.otf')
}
@font-face
{
font-family: "MuseoBold" ;
src: url('MuseoSans_700.otf')
}
@font-face
{
font-family: "BebasNeue" ;
src: url('BebasNeue.otf')
}
*/