---
title: Chat Room

# true if the page is included in the menu
#listed: true

# true if the page is published
published: true

# position among sibling pages
#position: 5

# sets a redirection to the given url (301)
# redirect_url: "<url to a page or to a remote url>"

# content type that this page is templatizing
# content_type: "<slug of one of the content types>"

# editable_elements:
#   'some_block/some_slug': "<text>"
#   'some_block/some_slug': "<relative path to the file under the public/samples folder>"
---
{% extends parent %}

{% block main %}
<div class="gradiente">  </div>
<section class="page">
	{% include sticky %}

<div class="row">
  <div class="large-12 medium-12 small-12 columns">
    <ul class="sbmenu">
      
      <li><a href="/intel" >FAQ ATTENDEES</a></li>
      <li class="special-limenu "><a  href="/intel/faq-organizer-facilitator">FAQ ORGANIZER/FACILITATOR</a></li>
      <li><a  href="/intel/hashtag-battle">HASHTAG BATTLE</a></li>
      <li><a class="active" href="/intel/chat-room"> CHAT<br /> ROOM</a> <div class="triangulo_sup"></div></li>
    </ul>
    <hr class="rdsor" />
  </div>
</div>


<section class="row">
      {% editable_text title-chat-room %}
     		<h1 class="main-title prizes">BATTLE COMMUNICATIONS</h1>
        {% endeditable_text %}
 			<h2 class="subtitle prizes">PRESENTED BY {% editable_text presented-by %}<span class="yellow">SPRINT</span>{% endeditable_text %}</h2>
 			<div class="large-offset-2 large-8 medium-offset-0 large-8 columns">
        {% editable_text content-chat-room %}
 				<div class="description-text">
 					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus, similique officiis nobis corrupti rem temporibus molestias. Distinctio, suscipit, voluptatibus voluptatum beatae qui fugit amet adipisci natus debitis ut deserunt officiis! 
 				</div>
        {% endeditable_text %}
 			</div>

 			<div class="large-12 columns cntr">
 				<h2 class="subtitle prizes">PRESENTED BY <img src="{{ 'sprintmin.png' | theme_image_url }}" alt="Sprint" class="sprint-chat" /></h2>
 			</div>

</section>
      

</section>

{% endblock %}
