---
title: Enter

# true if the page is included in the menu
listed: true

# true if the page is published
published: true

# position among sibling pages
position: 2

# sets a redirection to the given url (301)
# redirect_url: "<url to a page or to a remote url>"

# content type that this page is templatizing
# content_type: "<slug of one of the content types>"

# editable_elements:
#   'some_block/some_slug': "<text>"
#   'some_block/some_slug': "<relative path to the file under the public/samples folder>"
---
{% extends parent %}

{% block main %}
<div class="gradiente">  </div>
<section class="page-circle">
{% include sticky %}
<div class="row">
  <div class="large-12 medium-12 small-12 columns">
    <ul class="sbmenu">
      <li><a href="/enter/" class="active slug" data-name="enter">WHAT IS A CIRCLE?</a></li>
      {% for circle in contents.circles %}
      <li><a href="/enter/{{ circle._slug }}" class="slug" data-name="{{ circle._slug }}">{{circle.name}}</a></li>
      {% endfor %}

    </ul>
    <hr class="rdsor" />
  </div>
</div>
<section class="row">
  <h1 class="primary-title">What is a Circle?</h1>
{% editable_text subtitle-what-is-a-circle %}
 <h4 class="secondary-title">A Circle is a themed Battle within Global Startup Battle</h4>
{% endeditable_text %}
 
 </section>
<div class="row">
   <div class="customgrd">
      <div class="sprites-circle pin-enter"></div>
        <div><span class="step">01</span><span class="title-step">Find a Local Event to Attend</span></div>
        {% editable_text text-find-a-local-event %}
        <p class="description">Attend one of over 200+ GSB Startup Weekend events happening world wide during November 15 and November 22</p>
        {% endeditable_text %}
   </div>
   <div class="customgrd">
      <div class="sprites-circle enter-circle"></div>
      <div><span class="step">02</span><span class="title-step">Select Circle(s) to Participe in</span></div>
      {% editable_text text-circle(s)-to-participe %}
        <p class="description">Review each circle's rules to see if your team is eligible to enter. Once ready, submit your entry to the circle(s) of your choise.</p>
      {% endeditable_text %}
   </div>
   <div class="customgrd">
      <div class="sprites-circle social"></div>
      <div><span class="step">03</span><span class="title-step">Compete and share your entry</span></div>
      {% editable_text text-compete-and-share %}
        <p class="description">Once you've entered, share the link to your entry and compete for the most votes!</p>
      {% endeditable_text %}
   </div>
</div> 
<div class="bg-lgray circles-contnt">
<div class="row">
        <div class="large-12   medium-12 small-12 columns txt-title">
          <h2 class=" size-60">The Circles</h2>
        </div>
      </div>
      <div class="row divisor">
        <div class="large-12   medium-12 small-12 columns txt-title">
          <hr/>
        </div>
      </div>


<div class="row">
 <div class="customgrd">
  <div class="icn-cnt">
    <div class="sprites-circle champion-circle"></div>
  </div>
      
      <div><h2 class="subt-circle">Champion's Circle</h2></div>
      {% editable_text champions-circle %}
        <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex, itaque, quaerat, libero dolore voluptate enim ut obcaecati magni error tempora porro ipsa est rem magnam earum eaque assumenda eius. Molestias.</p>
        <a class="boton m-inf bebas" href="">More Info</a> 
      {% endeditable_text %}
   </div>
   <div class="customgrd">
      <div class="icn-cnt">
      <div class="sprites-circle woman-circle"></div>
      </div>
      <div><h2 class="subt-circle">Woman's Circle</h2></div>
        <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex, itaque, quaerat, libero dolore voluptate enim ut obcaecati magni error tempora porro ipsa est rem magnam earum eaque assumenda eius. Molestias.</p>
        <a class="boton m-inf bebas" href="">More Info</a> 
   </div>
   <div class="customgrd">
      <div class="icn-cnt">
      <div class="sprites-circle cloud-circle"></div>
      </div>
      <div><h2 class="subt-circle">Cloud Circle</h2></div>
        <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex, itaque, quaerat, libero dolore voluptate enim ut obcaecati magni error tempora porro ipsa est rem magnam earum eaque assumenda eius. Molestias.</p>
        <a class="boton m-inf bebas" href="">More Info</a> 
   </div>
   <div class="customgrd custmtop">
      <div class="icn-cnt">
      <div class="sprites-circle domain-circle"></div>
      </div>
      <div><h2 class="subt-circle">Domain Circle</h2></div>
        <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex, itaque, quaerat, libero dolore voluptate enim ut obcaecati magni error tempora porro ipsa est rem magnam earum eaque assumenda eius. Molestias.</p>
        <a class="boton m-inf bebas" href="">More Info</a> 
   </div>
   <div class="customgrd custmtop">
      <div class="icn-cnt">
      <div class="sprites-circle commerce-circle"></div>
      </div>
      <div><h2 class="subt-circle">Commerce Circle</h2></div>
        <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex, itaque, quaerat, libero dolore voluptate enim ut obcaecati magni error tempora porro ipsa est rem magnam earum eaque assumenda eius. Molestias.</p>
        <a class="boton m-inf bebas" href="">More Info</a> 
   </div>
   <div class="customgrd custmtop">
      <div class="icn-cnt">
      <div class="sprites-circle platform-circle"></div>
      </div>
      <div><h2 class="subt-circle">Platform Circle</h2></div>
        <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex, itaque, quaerat, libero dolore voluptate enim ut obcaecati magni error tempora porro ipsa est rem magnam earum eaque assumenda eius. Molestias.</p>
        <a class="boton m-inf bebas" href="">More Info</a> 
   </div>
  
</div>

  
</div>     
      


</section>
{% endblock %}
